
.coin-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.coin-red{
    background-color: red;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 2px -2px maroon;
}
.coin-blue{
    background-color: blue;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 2px -2px darkblue;
}
.coin-green{
    background-color: green;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 2px -2px darkgreen;
}
.coin-white{
    background-color: white;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 2px -2px grey;
}
.coin-black{
    background-color: black;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 2px -2px darkslategrey;
}
.coin-gold{
    background-color: gold;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 2px -2px darkgoldenrod;
}

.player-hand-flexer{
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    z-index: 3;
    background-color: grey;
}

.take-options{
    /* position: absolute;
    bottom: 0; */
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;

}

.action-buttons{
    /* position: absolute;
    bottom: 0; */
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;

}

div[class^="div"]{
    width: 100%;
    height: 750px;

    /* max-width:100%; */
    
    background-size: cover;
}

.toolbar-flexer{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 10;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    /* color: rgb(112, 109, 109); */
    background-color: blue;
    min-width: 700px;
}
.overlay-flexer{
    position: absolute;
    top: 10px;
    /* left: 10%; */
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 70vh;
    width: 70vw;
    
    align-items: center;
    justify-content: space-between;
    /* color: rgb(112, 109, 109); */
}

.specs-flexer{
    position: absolute;
    top: 10vh;
    left: 25vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    z-index: 10;
    align-content: left;
    /* justify-content: space-between; */
    width: 40vw;
    max-height: 600px;
    flex-wrap: wrap;
    margin-left: 30px;
}
.row-flexer{
    /* position: absolute; */
    top: 10vh;
    left: 25vw;
    /* margin: 0; */
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* z-index: 10; */
    /* align-content: left; */
    justify-content: space-between;
    width: 700px;
    min-width: 700px;
    /* max-height: 600px; */
    flex-wrap: wrap;
}

.card-pile{
     /* position: absolute; */
     top: 10vh;
     left: 25vw;
     /* margin: 0; */
     display: flex;
     flex-direction: row;
     margin-top: 10px;
     /* z-index: 10; */
     /* align-content: left; */
     justify-content: space-between;
     width: 400px;
     min-width: 400px;
     /* max-height: 600px; */
     flex-wrap: wrap;
}
.bank{
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 20vw;
    background-color: green;
    height: 510px;
    margin-top: 10px;
    
}
.card{
    /* position: relative; */
    /* top: 0; */
    width: 80px;
    height: 120px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;

}
.card-n{
    /* position: relative; */
    /* top: 0; */
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;

}
.card-down{
    position: relative;
    /* top: 0; */
    width: 80px;
    height: 120px;
    background-color: slategray;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;

}
.card-down-n{
    position: relative;
    /* top: 0; */
    width: 80px;
    height: 80px;
    background-color: slategray;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;

}
.card-down-deck{
    position: relative;
    /* top: 0; */
    top: 5px;
    width: 80px;
    height: 120px;
    background-color: slategray;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;

}

.models{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-auth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h4 {
    margin: 10px;
    font-family: sans-serif;
    cursor: pointer;
}
h4:hover {
    color: rgb(59, 59, 59);
}

.thumbnail{
    max-height: 100px;
    max-width: 200px;
    margin: 20px;
}

.thumb-img{
    width: 80px;
    height: 120px;
    /* background-size: cover; */
    border-radius: 5px;
    border: 1px solid black;
}
.thumb-img:hover{
    z-index: 15;
    /* width: 200px;
    height: 300px; */
    transform: scale(2.8, 2.8);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px -1px #080501;
    /* background-size: cover; */
}

.bank-field{
    height: 70px;
    margin: 10px;
}
.thumb-img-n{
    width: 80px;
    height: 80px;
    /* background-size: cover; */
    border-radius: 5px;
    border: 1px solid black;
}
.thumb-img-n:hover{
   
    transform: scale(2.8, 2.8);
    border-radius: 5px;
    border: 1px solid black;
    /* background-size: cover; */
}


.div1 {
    width: 100%;
    min-width: 700px;
    background-color: red;
    background-image: url('https://image.freepik.com/free-photo/old-wood-background-horizontal-composition-wood-texture_141291-149.jpg');
    background-size: cover;
}
.div2 {
    background-color: blue;
    background-image: url('http://justintopliff.com/wp-content/uploads/2015/07/Tesla-homepage.png');
}
.div3 {
    background-color: yellow;
    background-image: url('https://www.tesla.com/content/dam/tesla-site/home-page/poster-images/accessories-desktop.jpg/jcr:content/renditions/original.optimized.jpg');
}
.div4 {
    background-color: black;
    color: white;
    background-image: url('https://static1.squarespace.com/static/57afefb16b8f5be1f8a96733/t/5c3fffd52b6a2851985d63b9/1554067912000/Tesla+Shop+-+Lindsey+Kennedy');
}

  * { padding: 0; margin: 0; border: 0;  }

button{
    width: 100%;
    /* margin: 0px 50px 0px; */
}

div[class^='button-spacer']{
    padding: 0px 20px 0px;
}

.button-spacer-red:hover{
    background-color: red;
}
.button-spacer-green:hover{
    background-color: green;
}
.button-spacer-white:hover{
    background-color: white;
}
.button-spacer-blue:hover{
    background-color: rgb(36, 36, 170);
}
.button-spacer-gold:hover{
    background-color: gold;
}
.button-spacer-black:hover{
    background-color: rgb(49, 45, 45);
}

body {
    min-height: 500px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* display: block;
    overflow: hidden; */
 
}